:root {
  --bg-color: rgb(37, 98, 104);
  --bg-color_2: #13575e;
  --text-color: white;
  --contrast-color: rgb(227, 147, 0);
  --contrast-color_2: rgb(241, 163, 19);
  /* --text-color_2: ; */
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

/* header */

header {
  padding: 1vw 3vw 3vw 3vw;
}

h1 span {
  color: var(--contrast-color);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:active {
  color: var(--contrast-color);
}

nav > li > a:last-of-type {
  text-decoration: none;
  border: 2px solid var(--text-color);
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
}

nav > li > a:last-of-type:hover {
  background: var(--contrast-color);
  color: var(--text-color);
  border-color: var(--contrast-color);
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 20vw;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}
/* home page */
.post {
  background-color: var(--bg-color_2);
  color: var(--text-color);
  text-align: center;
  margin: 1vw 0;
  padding: 0.5rem;
  box-shadow: -1px 4px 19px 0px rgba(23, 83, 89, 0.7);
}

.username,
.post_date {
  color: var(--contrast-color);
}

/* Form page */
form {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

input {
  min-width: 50%;
  margin-bottom: 1rem;
}

textarea {
  min-width: 50%;
}

input[type="submit"] {
  background: var(--contrast-color);
  color: var(--text-color);
  margin-top: 1rem;
  width: 10vw;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  align-self: end;
}

input[type="submit"]:hover {
  background-color: var(--contrast-color_2);
  box-shadow: -1px 4px 19px 0px rgba(23, 83, 89, 0.5);
}

/* FULL POST PAGE */
.full_post {
  /* background-color: var(--bg-color_2); */
  color: var(--text-color);
  text-align: left;
  padding-bottom: 2rem;
  /* box-shadow: -1px 4px 19px 0px rgba(23, 83, 89, 0.5); */
  border-bottom: 1px solid var(--text-color);
}

/* media queries */

@media screen and (max-width: 600px) {
  body {
    font-size: 0.8rem;
  }

  header {
    padding: 1vw 3vw 6vw 3vw;
  }

  nav {
    flex-direction: column;
    margin: 0 10vw;
    align-items: center;
  }

  nav li:first-of-type {
    margin-bottom: 4vw;
    font-size: 1rem;
  }

  nav > li > a:last-of-type {
    padding: 0.3rem 1.2rem;
  }

  main {
    margin: 0 10vw;
  }

  h2 {
    text-align: center;
  }
}
