* {
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 191, 138);
  color: white;
  font-family: "Courier New", Courier, monospace;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 20vw;
}

.post {
  background-color: white;
  color: darkblue;
  text-align: center;
  margin: 1vw 0;
}

/* Form page */
form {
  display: flex;
  flex-direction: column;
}

#form_submit {
  padding: 1rem 2rem;
  margin: 1rem 4rem 0 0;
}

.hidden {
  display: none;
}
