:root {
  --bg-color: rgb(245, 191, 138);
  --bg-color_2: white;
  --text-color: white;
  --contrast-color: #060658;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Courier New", Courier, monospace;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

li {
  list-style: none;
}

nav li:last-child {
  border: 2px solid var(--text-color);
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 20vw;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}
/* home page */
.post {
  background-color: var(--bg-color_2);
  color: var(--contrast-color);
  text-align: center;
  margin: 1vw 0;
  padding: 0.5rem;
  box-shadow: -1px 4px 19px 0px rgba(90, 90, 90, 0.75);
}

/* Form page */
form {
  display: flex;
  flex-direction: column;
}

#form_submit {
  padding: 1rem 2rem;
  margin: 1rem 4rem 0 0;
}

.hidden {
  display: none;
}
